/*** COMMON ********************/
/*******************************/

/*** MAIN ********************/
/*******************************/

header button:hover {
    color: var(--white);
    background-color: var(--grey);
}

header button:hover > i {
    color: var(--offwhite);
}

#profiles li:hover {
    background-color: var(--offwhite);
    border-top: 1px solid var(--white);    
}